h1 {
	color: white;
	background: brown;
	border: 4px solid orange;
	text-align: center;
	font-size: 24px;
}

#animal-image {
	width: 200px;
	height: 150px;
	float: left;
}

#deascription {
	float: left
}

